@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

* {
  font-family: "Open Sans Condensed", sans-serif;
}

.view-counter {
  position: absolute; /* Position it absolutely within the relative container */
  top: 63%; /* Move it to the center vertically */
  left: 50%; /* Move it to the center horizontally */
  transform: translate(-50%, -50%); /* Adjust its position to be centered */
  padding: 10px; /* Optional: add some padding */
  border-radius: 5px; /* Optional: add rounded corners */
  z-index: 10; /* Ensure it is above the image */
  background-color: rgba(255, 235, 210, 0.5);
  color: #000; /* Text color */
}
.header-fixed {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

header {
  background: radial-gradient(circle, #ffcc80, #ff8c00); /* Dégradé radial */
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  padding: 5px 0 5px 5px;
}
/* Configuration de l’affichage pour maintenir le footer en bas */
body,
html {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}
p,
li,
ul,
a {
  font-size: 1.2rem;
}
main {
  flex-grow: 1;
}
a {
  text-decoration: none;
  color: black;
}

.titre-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-facebook {
  width: 50px;
}
.titre-logo h1 {
  display: none;
}

/*CARD COMPETITIONS*/
.h3-competition {
  text-align: left;
  font-size: 2rem;
  margin: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.intro-text {
  padding-left: 20px;
}
.team-column ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
.team-column h5 {
  font-size: 1.2rem;
  margin: 0 0 20px 0;
}
.team-column li {
  padding: 10px 0;
}
.team-column {
  background-color: rgba(255, 255, 255, 0.8); /* Fond translucide */
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 15%;
}

.section-competition {
  background-color: rgba(
    255,
    235,
    210,
    0.5
  ); /* Fond très pâle avec un léger ton orange */
  border-radius: 10px; /* Arrondir les coins */
  padding: 20px 0 50px 0;
  margin-bottom: 50px;
  text-align: center;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.h4-phase {
  font-size: 1.5rem; /* Taille de police légèrement augmentée */
  color: #ff7b1f;
}

.card-content a:hover {
  color: #ff7b1f;
  font-weight: bold;
}

.h3-championnat {
  text-align: center;
  font-size: 2rem;
  margin: 5px;
  padding-bottom: 20px;
}
.h2-competitions {
  padding-left: 20px;
  font-size: 2rem;
}
/* cotisations */
.h2-cotisations {
  padding-left: 20px;
  font-size: 2rem;
}
.card-container-club {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-club {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 320px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
  background-color: rgba(255, 235, 210, 0.5);
}

.card-club:hover {
  transform: scale(1.05);
}

.card-club h3 {
  font-size: 1.5rem;
  color: #ff9e40;
  margin-bottom: 10px;
}

.card-club p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.4;
}

.card-club a {
  color: #ff7b1f;
  text-decoration: none;
  font-weight: bold;
}

.card-club a:hover {
  color: #ff9e40;
}
/* Bloc Entrainement */
.bloc-entrainement {
  padding: 10px 0 10px 0;
  text-align: center;
  background-color: rgba(255, 235, 210, 0.5);
}

.bloc-entrainement h2 {
  font-size: 2rem;
}

.entrainement-details {
  font-size: 1.2rem;
}

.entrainement-details strong {
  color: #ff7b1f;
}
.entrainement-details ul {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;
}

.entrainement-details ul li {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 5px;
}

/*AIDES JEUNES*/

.section-aides {
  padding: 20px;
}

.h2-aides {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
}
.h3-aides {
  color: #ff7b1f;
  font-size: 1.5rem;
}

.aides-container {
  display: flex;
  align-items: stretch; /* Assure que les articles ont la même hauteur */
  justify-content: center;
}

.article-aides {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.article-aides img {
  margin-top: 10px;
  border-radius: 5px;
}

/* PARTENAIRES */
.h3-partenaire {
  font-size: 1.5rem;
}
.h2-partenaires {
  padding-left: 20px;
  font-size: 2rem;
}
.bloc-sponsors {
  padding: 20px;
}

.sponsor-cards {
  display: flex;
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne */
  justify-content: space-evenly; /* Espace égal entre les cartes */
  width: 80%; /* Largeur du conteneur */
  margin: 0 auto; /* Centre le conteneur */
}

.sponsor-card {
  width: 240px; /* Largeur réduite des cartes */
  height: 200px; /* Hauteur réduite des cartes */
  background-color: white;
  border-radius: 8px;
  margin: 10px; /* Marges autour des cartes */
  text-align: center; /* Centre le texte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Aligne les éléments en colonne */
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Centre horizontalement */
  transition: transform 0.2s ease;
  width: 90%; /* Ajustez pour éviter le débordement */
  max-width: 240px; /* Limiter la taille maximale */
}

.sponsor-card:hover {
  transform: scale(1.05);
}

.img-sponsor {
  overflow: hidden;
  object-fit: cover;
  padding-top: 10px; /* Espacement en haut de l'image */
}

.sponsor-card h3 {
  font-size: 1.2rem;
  margin: 10px 0; /* Espacement autour du titre */
  text-align: center;
}

.sponsor-card p {
  font-size: 1.1rem; /* Taille de la police pour le texte */
  color: #333;
  line-height: 1.4;
  text-align: center; /* Centre le texte */
  margin: 0; /* Réinitialiser les marges */
}

.sponsor-card a {
  text-decoration: none; /* Pas de soulignement */
  margin-top: 10px;
}

.bouton {
  border: gainsboro solid 1px;
  border-radius: 5px;
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  width: 80px; /* Largeur du bouton */
  height: 35px; /* Hauteur du bouton */
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  margin: 15px auto; /* Centre le bouton horizontalement */
}

/*INSCRIPTION*/

.h2-inscription {
  font-size: 2rem;
  padding-left: 20px;
}

.inscription {
  text-align: center;
}
.img-index,
.img-fond-competition {
  width: 100vw;
  object-fit: cover;
}
.img-inscription {
  width: 50%; /* Largeur de l'image d'inscription */
  border-radius: 5px; /* Arrondi léger des coins */
}

/* FOOTER */
footer {
  background: radial-gradient(circle, #ffcc80, #ff8c00);
  text-align: center;
}

.content-footer-flex {
  background: radial-gradient(circle, #ffcc80, #ff8c00); /* Dégradé radial */
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.h2-footer {
  font-size: 1.5em;
}

.svg-footer {
  width: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

footer p,
footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Style pour le copyright */
.footer-copyright {
  font-size: 0.85em;
  color: black;
  text-align: center;
  padding: 5px;
}

/*BUREAU*/

.img-bureau {
  padding: 50px;
  width: 60%;
  margin: auto;
  display: flex;
}
/* Hamburger Menu Icon */
.menu-icon {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}

/*BOUTONS COMPETITION*/

.section-button-competition {
  width: 100%; /* Optional: make the container full width if desired */
}

.button-container-competition {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px; /* Space between buttons */
}
.button-container a {
  font-size: 1.2em;
}
.button-competition {
  background-color: rgba(255, 235, 210, 0.5);
  color: #000; /* Text color */
  padding: 10px 20px; /* Padding for the buttons */
  text-decoration: none; /* Removes underline */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Makes text bold */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.button-competition:hover {
  background-color: rgba(255, 235, 210, 0.5);
}
/*BOUTONS ACCUEIL*/

.section-button {
  position: relative;
  display: inline-block; /* Ensures image behaves like a block element */
  width: 100%; /* Optional: make the container full width if desired */
  text-align: center; /* Center-aligns content */
}

.img-index {
  width: 100%; /* Ensures image fills the width of the container */
  display: block; /* Removes any gap under the image */
}

.button-container {
  position: absolute;
  top: 20px; /* Positions buttons at the top of the image */
  left: 50%;
  transform: translateX(-50%); /* Centers the buttons horizontally */
  display: flex;
  gap: 20px; /* Space between buttons */
  z-index: 10; /* Places buttons above the image */
}
.button-container a {
  font-size: 1.2em;
}
.button {
  background-color: rgba(255, 235, 210, 0.5);
  color: #000; /* Text color */
  padding: 10px 20px; /* Padding for the buttons */
  text-decoration: none; /* Removes underline */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Makes text bold */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.button:hover {
  background-color: rgba(255, 255, 255, 1); /* Solid white on hover */
}

/* Bars of the hamburger icon */
.menu-icon .bar {
  height: 4px;
  width: 30px;
  background-color: black; /* Change to your preferred color */
  margin: 4px 0;
  transition: 0.3s; /* Smooth transition for the menu opening/closing */
}

/* MENU DEROULANT */
.deroulant {
  position: relative;
}

.list-inner {
  display: none; /* Masque les sous-menus par défaut */
  width: 210px;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  margin-top: 1px;
  padding: 0;
  background: radial-gradient(circle, #ffcc80, #ff8c00);
}

nav {
  position: sticky; /* Ajoutez cette ligne */
  top: 0; /* Reste en haut */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
  flex: 1;
  align-content: center;
  height: 80px;
}

/* Affichage du sous-menu au survol du parent */
nav > ul > li:hover .list-inner {
  display: block; /* Affiche le sous-menu au survol */
}

.list-inner a:hover {
  border-bottom: none; /* Retire la bordure en bas lors du survol */
}

.list {
  position: relative;
}

/* Styles pour le sous-menu des équipes */
.list-inner {
  display: none; /* Masque les sous-menus par défaut */
}

/* Styles des liens dans le sous-menu */
.list-inner a {
  display: block; /* Affiche les liens en bloc */
  font-weight: normal; /* Poids normal pour le texte */
  text-align: left; /* Alignement à gauche */
  padding: 10px; /* Padding autour du lien */
  color: black; /* Couleur du texte */
}

/* MENU PRINCIPAL */
nav ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}

nav li {
  position: relative;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  padding-right: 20px;
  font-weight: bold;
}

.list-inner > li:hover .list-inner {
  display: block; /* Affiche le sous-sous-menu au survol */
}

/*DATES COMPETITIONS*/
.section-date {
  text-align: center;
}
.hr-date {
  border: none;
  height: 1px; /* Épaisseur de la ligne */
  background-color: grey; /* Couleur de la ligne */
  width: 70%;
  margin: 0 auto;
}
.img-date {
  padding: 30px;
  width: 60%;
  margin: auto;
  display: flex;
}

/*ACTUALITÉ*/

/* Styles de la section d'actualités */
.actualite-section {
  margin: 0 auto;
  padding: 20px;
}

.h2-actualite {
  font-size: 2rem;
}

.intro-text {
  margin-bottom: 20px;
}

/* Style de la carte d'actualité */
.article-actualite {
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.actualite:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Lien contenant l'image et le texte */
.actualite a {
  display: block;
  text-decoration: none;
}

/* Image de l'actualité */
.img-actualite {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease;
}

.actualite:hover .img-actualite {
  transform: scale(1.05);
}

/* Titre de l'actualité */
.h3-actualite {
  font-size: 1.5rem;
  padding: 15px;
  margin: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

/* Pour les écrans de petite taille */
@media (max-width: 768px) {
  .team-column {
    width: 60%;
  }

  .button-competition {
    padding: 10px;
  }
  .button-container-competition {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .button-competition a {
    font-family: 1.2rem;
  }
  .view-counter {
    font-size: 8px;
    padding: 1px;
    border-radius: 10px;
  }
  .button-container {
    top: 5px; /* Positions buttons at the top of the image */
    gap: 10px;
  }
  .button-container a {
    font-size: 1.2em;
  }

  .button {
    width: 80%; /* Make buttons occupy 80% of the container width */
    margin: 0 auto; /* Center-align buttons in the mobile layout */
    padding: 5px; /* Padding for the buttons */
  }
  .img-bureau,
  .img-date {
    padding: 0;
    width: 100%;
  }
  .titre-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  /* Logo */
  .logo {
    width: 80px;
    padding: 5px 0 5px 5px;
  }

  /* Titre */
  .titre-logo h1 {
    font-size: 1.4rem;
    margin: 0;
    flex: 1;
    text-align: center;
    display: block;
  }

  /* Conteneur global */
  header {
    display: block;
  }

  /* Conteneur des aides */
  .aides-container {
    flex-direction: column;
    align-items: center;
  }

  /* Articles d'aide */
  .article-aides {
    width: 100%;
    margin: 10px 0;
  }

  /* Images dans les articles d'aide */
  .article-aides img {
    width: 300px;
  }

  /* Styles pour le footer et les paragraphes */
  .h2-footer {
    text-align: center;
  }

  /* Titres de section */
  .h2-aides,
  .h2-competitions,
  .h2-cotisations,
  .h2-partenaires,
  .h2-inscription {
    font-size: 2rem;
  }

  /* Menu Burger */
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
  }

  /* Barres du menu burger */
  .menu-icon .bar {
    width: 25px;
    height: 3px;
    margin: 4px auto;
    background-color: black;
    transition: all 0.3s ease;
  }

  /* Transformation en croix pour le menu burger actif */
  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  /* Barre de navigation */
  nav {
    position: relative;
    height: 0;
    justify-content: center;
  }

  /* Menu principal */
  #nav-menu {
    display: none; /* Masqué par défaut */
    flex-direction: column; /* Aligne les éléments en colonne */
    background: radial-gradient(circle, #ffcc80, #ff8c00);
    padding-top: 20px; /* Espace supérieur pour le menu */
    overflow-y: auto; /* Permet le défilement si le contenu déborde */
    padding-top: 20px;
    z-index: 20; /* Higher than buttons */
    position: inherit; /* Ensure menu stays fixed on screen */
  }

  /* Affiche le menu au clic */
  #nav-menu.active {
    display: flex;
  }

  /* Liens du menu principal */
  #nav-menu a {
    flex: 1; /* Prend la même quantité d'espace */
    text-align: center;
    color: black; /* Assurez-vous que la couleur du texte est visible */
    text-decoration: none; /* Supprime les soulignements */
    padding: 0;
  }

  /* Liens du sous-menu */
  .list-inner a {
    text-align: center; /* Centre le texte */
    display: block; /* Assure que chaque lien prend toute la largeur */
    color: black; /* Assurez-vous que la couleur du texte est visible */
    text-decoration: none; /* Supprime les soulignements */
  }

  .list-inner {
    display: none; /* Affiche le sous-menu sur mobile */
    position: static; /* Enlève la position absolue pour un bon affichage */
    width: 100%; /* Ajuste la largeur pour le mobile */
    background: transparent;
  }

  /* Affiche le sous-menu quand le menu est actif */
  #nav-menu li:hover .list-inner {
    display: flex; /* Affiche le sous-menu au survol */
    flex-direction: column; /* Aligne les sous-éléments en colonne */
  }

  #nav-menu li {
    padding: 15px;
  }

  /* Style pour les éléments de la liste intérieure */
  .list-inner li {
    list-style: none; /* Supprime les puces */
  }

  .card-container {
    flex-direction: column;
    gap: 40px;
  }
  .card-competitions {
    margin: 0 auto;
  }
  .intro-text {
    padding: 20px;
    text-align: center;
  }
  .img-inscription {
    width: 100%;
  }
}

/* Requêtes de média pour les tablettes */
@media (min-width: 768px) and (max-width: 1024px) {
  .button-competition a {
    font-family: 1.2rem;
  }
  .view-counter {
    padding: 5px;
    border-radius: 3px;
  }
  .titre-logo {
    height: 120px; /* Ajustement de la hauteur du titre pour les tablettes */
  }

  /* Redimensionnement du logo */
  .logo {
    width: 80px;
    padding: 10px;
  }

  /* Augmentation de la taille du titre */
  .titre-logo h1 {
    font-size: 1.5rem;
  }

  /* Ajustement de la disposition des cartes dans les sections */
  .card-container {
    flex-direction: row;
    gap: 20px;
    justify-content: center; /* Centre les cartes */
  }

  .card-competitions {
    width: 250px; /* Légère augmentation de la largeur */
    margin: 10px;
  }

  /* Section aides */
  .aides-container {
    flex-direction: row; /* Aligne les articles en rangée */
    gap: 20px;
  }

  /* Dimensions des articles d'aide */
  .article-aides {
    width: 45%; /* Occupe la moitié de l'écran en largeur */
  }

  /* Ajustement de la taille des titres */
  .h2-aides,
  .h2-competitions,
  .h2-cotisations,
  .h2-partenaires,
  .h2-inscription {
    font-size: 2.5rem;
  }

  /* Footer */
  footer .content-footer-flex {
    flex-direction: row; /* Affichage en rangée pour le footer */
    justify-content: center;
    gap: 20px;
  }

  /* Menu de navigation */
  .menu-icon {
    display: none; /* Masqué sur tablette */
  }
  /* Taille des liens de navigation */
  nav ul li a {
    font-size: 1rem; /* Taille réduite pour les liens */
  }

  /* Menu principal */
  nav ul {
    display: flex;
    justify-content: space-evenly; /* Espacement des éléments */
  }
  #nav-menu {
    padding: 0;
  }
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 5px;
    font-size: 1rem;
  }

  /* Styles pour les cartes de partenaire */
  .sponsor-card {
    width: 180px; /* Largeur ajustée pour tablette */
    height: 150px;
  }

  /* Section partenaires */
  .sponsor-cards {
    width: 90%; /* Largeur réduite du conteneur de sponsor */
    justify-content: center;
  }

  /* Bouton */
  .bouton {
    width: 100px; /* Taille augmentée du bouton */
    height: 40px;
  }

  /* Section cotisations et clubs */
  .card-container-club {
    gap: 15px;
    justify-content: center;
  }

  .card-club {
    max-width: 250px;
  }

  /* Bloc entrainement */
  .bloc-entrainement h2 {
    font-size: 2.5rem;
  }
  .deroulant {
    position: relative;
  }

  .list-inner {
    display: none; /* Masque les sous-menus par défaut */
    width: 210px;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    margin-top: 1px;
    padding: 0;
    background: radial-gradient(circle, #ffcc80, #ff8c00);
  }

  nav {
    align-content: center;
    height: 80px;
  }

  /* Affichage du sous-menu au survol du parent */
  nav > ul > li:hover .list-inner {
    display: block; /* Affiche le sous-menu au survol */
  }

  .list-inner a:hover {
    border-bottom: none; /* Retire la bordure en bas lors du survol */
  }

  .list {
    position: relative;
  }

  /* Styles pour le sous-menu des équipes */
  .list-inner {
    display: none; /* Masque les sous-menus par défaut */
  }

  /* Styles des liens dans le sous-menu */
  .list-inner a {
    display: block; /* Affiche les liens en bloc */
    font-weight: normal; /* Poids normal pour le texte */
    text-align: left; /* Alignement à gauche */
    padding: 10px; /* Padding autour du lien */
    color: black; /* Couleur du texte */
  }
  .list-inner > li:hover .list-inner {
    display: block; /* Affiche le sous-sous-menu au survol */
  }
  .img-bureau {
    width: 100%;
    padding: 0;
  }
}
