@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

* {
  font-family: "Open Sans Condensed", sans-serif;
}
.logo {
  width: 150px;
}
/* Configuration de l’affichage pour maintenir le footer en bas */
body,
html {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
 p, li, ul, a {
  font-size: 1.2rem;
}
main {
  flex-grow: 1; /* L’espace restant est occupé par le contenu principal */
  width: 95%;
  margin: 0 auto;;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
.titre-logo {
  display: flex;
  background-color: orange;
  align-items: center;
  height: 170px;
}

.titre-logo h1 {
  margin: 0 auto;
  font-size: 4rem;
}

/* MENU DEROULANT */

.deroulant {
  position: relative;
}

.sous {
  display: none;
  width: 200px;
  background-color: #ff9e40;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  margin-top: 3px;
}

nav {
  background-color: orange;
}
/* Affichage du sous-menu au survol du parent */
nav > ul > li:hover .sous {
  display: block;
}

/* Styles des liens dans le sous-menu */
.sous a {
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
}

.sous > li {
  position: relative;
  padding: 15px;
}

/* MENU PRINCIPAL */

nav {
  width: 100%;
  font-size: 18px;
  top: 0;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none; /* Suppression des puces */
}

nav li {
  position: relative; /* Permet de positionner les sous-menus */
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

/* SOUS-SOUS-MENU (list-inner) */
.deroulant .sous .list-inner {
  display: none; /* Par défaut caché */
  position: absolute;
  left: 100%; /* Décalage à droite de l’élément parent */
  top: 0;
  width: 200px;
  background-color: #ffa659;
  border-radius: 5px;
}

/* Affichage du sous-sous-menu au survol du parent */
.sous > li:hover .list-inner {
  display: block;
}


.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly; 
  padding: 20px 0;
}

.card {
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  padding: 10px 80px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card h4 {
  font-size: 1.4rem;
  color: #ff9e40;
  margin: 20px 0;}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content a {
  color: #0d0d0d;
  text-decoration: none;
  font-size: 1.2rem;
}

.card-content a:hover {
  color: #ff7b1f;
  font-weight: bold;
}
 .h3-championnat {
  text-align: center;
 }
.h2-competitions{
  text-align: center;
}


/*INSCRIPTION*/
.inscription{
  text-align: center;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: #ff9e40;
  padding-top: 20px;
}

.content-footer-flex {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
}

.h2-footer {
  color: black;
}

.svg-footer {
  width: 25px;
  padding-right: 5px;
}
