@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

* {
  font-family: "Open Sans Condensed", sans-serif;
}
header {
  background: radial-gradient(circle, #ffcc80, #ff8c00); /* Dégradé radial */
}
.logo {
  width: 150px;
  padding: 20px;
}
/* Configuration de l’affichage pour maintenir le footer en bas */
body,
html {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
p,
li,
ul,
a {
  font-size: 1.2rem;
}
main {
  flex-grow: 1;
}
a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

.titre-logo {
  display: flex;
  align-items: center;
  height: 170px;
}
.logo-facebook {
  width: 50px;
}
.titre-logo h1 {
  margin: 0 auto;
  font-size: 4rem;
}
/* MENU DEROULANT */

.deroulant {
  position: relative;
}

.sous {
  display: none;
  width: 210px;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  margin-top: 1px;
  padding: 0;
}

nav {
  background: radial-gradient(circle, #ffcc80, #ff8c00);
  height: 80px;
}
/* Affichage du sous-menu au survol du parent */
nav > ul > li:hover .sous {
  display: block;
}

/* Styles des liens dans le sous-menu */
.sous a {
  border-bottom: none;
  text-align: left;
  display: block;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.sous a:hover {
  border-bottom: none;
}

.sous > li {
  position: relative;
  padding: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

/* Styles pour le sous-menu des équipes */
.sous-equipe {
  text-align: center;
  width: 180px;
}

.sous-equipe a {
  display: block;
  font-weight: normal;
  text-align: center;
}
/* MENU PRINCIPAL */

nav ul {
  display: flex;
  margin: 0;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

nav li {
  position: relative;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

/* SOUS-SOUS-MENU (list-inner) */
.deroulant .sous .list-inner {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 190px;
  background-color: #ffa659;
  border-radius: 5px;
}

/* Affichage du sous-sous-menu au survol du parent */
.sous > li:hover .list-inner {
  display: block;
}

/*CARD*/
.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px 0;
}

.card {
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  padding: 10px 80px;
  text-align: center;
  transition: transform 0.2s ease;
  max-width: 100%; /* Éviter les largeurs fixes */
  width: auto; /* Adaptable */
  padding: 10px 20px; /* Ajustez les paddings */
}

.card:hover {
  transform: scale(1.05);
}

.card h4 {
  font-size: 1.4rem;
  color: #ff9e40;
  margin: 20px 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-content a {
  color: #0d0d0d;
  text-decoration: none;
  font-size: 1.2rem;
}

.card-content a:hover {
  color: #ff7b1f;
  font-weight: bold;
}
.h3-championnat {
  text-align: center;
}
.h2-competitions {
  text-align: center;
}

/* cotisations */
.h2-cotisations {
  padding-left: 20px;
}
.card-container-club {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-club {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 320px;
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card-club:hover {
  transform: scale(1.05);
}

.card-club h3 {
  font-size: 1.5rem;
  color: #ff9e40;
  margin-bottom: 10px;
}

.card-club p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.4;
}

.card-club a {
  color: #ff7b1f;
  text-decoration: none;
  font-weight: bold;
}

.card-club a:hover {
  color: #ff9e40;
}
/* Bloc Entrainement */
.bloc-entrainement {
  padding: 10px 0 10px 0;
  text-align: center;
  background-color: #fdf7f3;
}

.bloc-entrainement h2 {
  font-size: 2.5rem;
}

.entrainement-details {
  font-size: 1.2rem;
  color: #333;
}

.entrainement-details strong {
  color: #ff7b1f;
}
.entrainement-details ul {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 0;
}

.entrainement-details ul li {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 5px;
}

/*AIDES JEUNES*/

.section-aides {
  padding: 20px;
}

.h2-aides {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.h3-aides {
  color: #ff7b1f;
  font-size: 1.5rem;
}

.aides-container {
  display: flex;
  align-items: stretch; /* Assure que les articles ont la même hauteur */
  justify-content: center;
}

.article-aides {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.article-aides img {
  margin-top: 10px;
  border-radius: 5px;
}

/* PARTENAIRES */
.h3-partenaire {
  font-size: 1.5rem;
}
.h2-partenaires {
  padding-left: 20px;
}
.bloc-sponsors {
  padding: 20px;
}

.sponsor-cards {
  display: flex;
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne */
  justify-content: space-evenly; /* Espace égal entre les cartes */
  width: 80%; /* Largeur du conteneur */
  margin: 0 auto; /* Centre le conteneur */
}

.sponsor-card {
  width: 240px; /* Largeur réduite des cartes */
  height: 200px; /* Hauteur réduite des cartes */
  background-color: white;
  border-radius: 8px;
  margin: 10px; /* Marges autour des cartes */
  text-align: center; /* Centre le texte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Aligne les éléments en colonne */
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Centre horizontalement */
  transition: transform 0.2s ease;
  width: 90%; /* Ajustez pour éviter le débordement */
  max-width: 240px; /* Limiter la taille maximale */
}

.sponsor-card:hover {
  transform: scale(1.05);
}

.img-sponsor {
  overflow: hidden;
  object-fit: cover;
  padding-top: 10px; /* Espacement en haut de l'image */
}

.sponsor-card h3 {
  font-size: 1.2rem;
  margin: 10px 0; /* Espacement autour du titre */
  text-align: center;
}

.sponsor-card p {
  font-size: 1.1rem; /* Taille de la police pour le texte */
  color: #333;
  line-height: 1.4;
  text-align: center; /* Centre le texte */
  margin: 0; /* Réinitialiser les marges */
}

.sponsor-card a {
  text-decoration: none; /* Pas de soulignement */
  margin-top: 10px;
}

.bouton {
  border: gainsboro solid 1px;
  border-radius: 5px;
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  width: 80px; /* Largeur du bouton */
  height: 35px; /* Hauteur du bouton */
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  margin: 15px auto; /* Centre le bouton horizontalement */
}

/*INSCRIPTION*/
.inscription {
  text-align: center;
}

.img-fond {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

/* FOOTER */
footer {
  background: radial-gradient(circle, #ffcc80, #ff8c00);
  padding: 20px 0;
  text-align: center;
}

.content-footer-flex {
  background: radial-gradient(circle, #ffcc80, #ff8c00); /* Dégradé radial */

  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.footer-lieu,
.footer-contact {
  max-width: 250px;
  text-align: left;
}

.h2-footer {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-lieu p,
.footer-contact p {
  margin: 5px 0;
}

.svg-footer {
  width: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

footer p,
footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Style pour le copyright */
footer .footer-copyright {
  margin-top: 20px;
  font-size: 0.85em;
  color: #333333;
  text-align: center;
}

/* Hamburger Menu Icon */
.menu-icon {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
}

/* Bars of the hamburger icon */
.menu-icon .bar {
  height: 4px;
  width: 30px;
  background-color:black; /* Change to your preferred color */
  margin: 4px 0;
  transition: 0.3s; /* Smooth transition for the menu opening/closing */
}
/* Pour les écrans de petite taille */
@media (max-width: 768px) {
  .aides-container {
    flex-direction: column;
    align-items: center;
  }

  .article-aides {
    width: 100%;
    margin: 10px 0;
  }

  .article-aides img {
    width: 300px;
  }

  .h2-footer,
  p {
    text-align: center;
  }

  /* Burger Menu */
  .h2-aides,
  .h2-competitions,
  .h2-cotisations,
  .h2-partenaires {
    font-size: 1.8rem;
  }

  /* Affiche le menu burger sur mobile */
  .menu-icon {
    display: flex; /* Affiche l'icône burger sur mobile */
  }

  #nav-menu {
    display: none; /* Hide the menu by default */
    flex-direction: column; /* Show items in column */
    position: fixed; /* Fix position to screen */
    top: 0; /* Align to top */
    right: -250px; /* Hide off screen */
    width: 250px; /* Menu width */
    height: 100%; /* Full height */
    background: radial-gradient(circle, #ffcc80, #ff8c00);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Shadow */
    transition: right 0.3s ease; /* Animation */
    z-index: 1000; /* Ensure menu is above other elements */
    list-style: circle;
  }

  #nav-menu.active {
    display: flex; /* Affiche le menu lorsque la classe active est ajoutée */
    right: 0; /* Fait apparaître le menu */
  }

  .dropdown {
    display: flex; /* Affiche le menu déroulant lorsque actif */
  }

  .dropdown.active {
    display: flex; /* Affiche le menu déroulant lorsqu'il est actif */
  }

  .img-fond {
    height: 200px;
  }

  .logo {
    width: 100px;
    padding: 5px;
  }
  .titre-logo {
    flex-direction: column; /* Empiler le logo et le menu verticalement */
    align-items: center; /* Aligner les éléments au centre */
    height: auto; /* Permettre à la hauteur de s'ajuster en fonction du contenu */
  }
  .titre-logo h1 {
    font-size: 2.5rem; /* Adjust title font size */
    text-align: center;
    margin: 0; /* Remove default margin */
  }

  /* Animation pour le menu */
  .dropdown {
    transition: max-height 0.3s ease; /* Animation pour l'ouverture */
  }
  .menu {
    display: flex;
    align-items: center; /* Aligner les éléments au centre */
    width: 100%;
    justify-content: space-around;
  }
}
